@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@font-face{
  font-family: 'poppins';
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'open_sans';
  src: url(../Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: 'play';
  src: url(../Fonts/Play/Play-Regular.ttf);
}

.bgSwapp{
  background: url('../../public/bgSwap.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin 2.5s linear infinite;
}
